.DS_Store
.config/iterm2/AppSupport
*conflict*.json

/.config/obsidian/Cache/Cache_Data
/.config/obsidian/TransportSecurity
/.config/tmux/plugins/tmux
/.config/tmux/plugins/tmux-sensible
/.config/obsidian/bookmarks.json
/.config/obsidian/workspace.json
