..cm-s-obsidian span.cm-quote-1 {
  color: teal;
}
.cm-s-obsidian span.cm-quote-2 {
  color: green;
}
.cm-s-obsidian span.cm-quote-3 {
  color: red;
}

.optional {
	font-style: italic;
}
.optional:before {
	content: '(OPTIONAL) ';
	color: gray;
}

.is-checked {
	color: gray;
	text-decoration: none !important;
	opacity: 0.33
}

.canvas-path-label {
	font-size: calc(var(--font-ui-small) * var(--zoom-multiplier));
}
